<component name="libraryTable">
  <library name="Server">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/EXTRAS/GTA V/Bungeecord/Lobby-2/Server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Desktop/EXTRAS/GTA V/Bungeecord/Lobby-2/Server.jar!/" />
    </SOURCES>
  </library>
</component>